.card-header,
.card-body {
  border: 2px solid #eeccee;
  padding: 1rem;
}

.card-header {
  cursor: pointer;
  background-color: #ededed;
}

.card {
  margin-bottom: 1rem;
}

.d-none {
  display: none;
}
